body {
    font-family: 'Exo';
    font-size: 15px;
    font-weight: bold;
    height: 900px;
}

.navigation {
    line-height: 25px;
    display: flex;
    align-items: flex-end;
    row-gap: 10px;
    margin: 30% 0 0 0;
    padding: 0;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        a {
            text-decoration: none;
            color: black;
            align-self: center;
        }
    }
}

main {
    border: 2px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    padding: 2%;
    margin: 2%;
}

h1 {
    font-size: 60px;
    font-weight: lighter;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.titre {
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.background {
    background: linear-gradient(45deg, rgba(34,193,195,1) 79%, rgba(253,187,45,1) 89%);
    animation-duration: 20s;
    animation-name: wave;
    animation-iteration-count: infinite;
}

@keyframes wave {
    from {
        background: linear-gradient(45deg, rgba(34,193,195,1) 76%, rgba(253,187,45,1) 80%);
    }

    2% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 74%, rgba(253,187,45,1) 80%);
    }

    4% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 72%, rgba(253,187,45,1) 80%);
    }

    6% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 70%, rgba(253,187,45,1) 80%);
    }

    8% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 68%, rgba(253,187,45,1) 80%);
    }

    10% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 66%, rgba(253,187,45,1) 80%);
    }

    12% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 64%, rgba(253,187,45,1) 80%);
    }

    14% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 62%, rgba(253,187,45,1) 80%);
    }

    16% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 60%, rgba(253,187,45,1) 80%); 
    }

    18% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 58%, rgba(253,187,45,1) 80%);
    }

    20% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 56%, rgba(253,187,45,1) 80%);
    }

    22% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 54%, rgba(253,187,45,1) 80%);
    }

    24% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 52%, rgba(253,187,45,1) 80%);
    }

    26% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 50%, rgba(253,187,45,1) 80%);
    }

    28% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 50%, rgba(253,187,45,1) 78%);
    }

    30% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 50%, rgba(253,187,45,1) 76%);
    }

    32% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 50%, rgba(253,187,45,1) 74%);
    }

    34% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 50%, rgba(253,187,45,1) 72%);
    }

    36% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 50%, rgba(253,187,45,1) 70%);
    }

    38% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 50%, rgba(253,187,45,1) 70%);
    }

    40% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 52%, rgba(253,187,45,1) 70%);
    }

    42% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 54%, rgba(253,187,45,1) 70%);
    }

    44% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 56%, rgba(253,187,45,1) 72%);
    }

    46% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 58%, rgba(253,187,45,1) 74%);
    }

    48% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 60%, rgba(253,187,45,1) 76%);
    }

    50% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 62%, rgba(253,187,45,1) 78%);
    }

    52% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 64%, rgba(253,187,45,1) 80%);
    }

    54% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 66%, rgba(253,187,45,1) 80%);
    }

    56% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 68%, rgba(253,187,45,1) 80%);
    }

    58% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 70%, rgba(253,187,45,1) 80%);
    }

    60% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 72%, rgba(253,187,45,1) 80%);
    }

    62% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 72%, rgba(253,187,45,1) 80%);
    }

    64% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 72%, rgba(253,187,45,1) 80%);
    }

    66% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 70%, rgba(253,187,45,1) 80%);
    }

    68% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 68%, rgba(253,187,45,1) 80%);
    }

    70% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 66%, rgba(253,187,45,1) 80%);
    }

    72% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 64%, rgba(253,187,45,1) 80%);
    }

    74% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 62%, rgba(253,187,45,1) 80%);
    }

    76% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 60%, rgba(253,187,45,1) 80%);
    }

    78% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 58%, rgba(253,187,45,1) 80%);
    }

    80% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 56%, rgba(253,187,45,1) 80%);
    }

    82% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 56%, rgba(253,187,45,1) 80%);
    }

    84% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 58%, rgba(253,187,45,1) 80%);
    }

    86% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 60%, rgba(253,187,45,1) 80%);
    }

    88% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 62%, rgba(253,187,45,1) 80%);
    }

    90% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 64%, rgba(253,187,45,1) 80%);
    }

    92% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 66%, rgba(253,187,45,1) 80%);
    }

    94% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 68%, rgba(253,187,45,1) 80%);
    }

    96% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 70%, rgba(253,187,45,1) 80%);
    }

    98% {
        background: linear-gradient(45deg, rgba(34,193,195,1) 72%, rgba(253,187,45,1) 80%);
    }

    to {
        background: linear-gradient(45deg, rgba(34,193,195,1) 74%, rgba(253,187,45,1) 80%);  
    }
}